*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    /* background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0.8435749299719888) 12%, rgba(244,184,124,1) 52%); */
}
nav{
    background-color: white;
    /* bo */
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}