/*
.nav {
    background-color: #FFFF;
}
*/


/*
section:nth-of-type(odd) {
    background-color: black;
    color: white;
}
*/

nav {
    background-color: white;
    color: black;
}

body {
    color: white;
    background-color: black;
}

section {
    margin-bottom: 10px;
}

a .icons {
    font-size: 50px;
    margin-right: 15px;
    margin-left: 15px;
    color: white;
    text-align: center;
}

.icn {
    padding: 10%;
    text-align: center;
}

#contact {
    background-color: #020F23;
}

#about .card {
    text-align: center;
    background-color: black;
}

#about .card img {
    border: 20px solid white;
}

#projects {
    text-align: center;
    background-color: white;
    color: black;
}

.bg-orange {
    background-color: #e69729;
}

.bg-lightgreen {
    background-color: #24f03c;
}

image {
    max-width: 25%;
}

.container {
    max-width: 80vw;
}

.viewPage {
    margin-top: 10%;
}

.card {
    border-color: white;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}